*.sw*
*.env
notes
temp*/
build/
target/
endpoints
node_modules/
*pnpm-debug.log
.deployment.txt
.zos.session
.openzeppelin/unknown*.json
**/flattened
cache/
artifacts/
*flattened*
*.gpg
!private-key.gpg
